*
{
    outline: none !important;
}

/*
 ==================== content
*/
.content
{
    margin-top: 50px;
}

#search-text{
    width: 560px;
}

/*
 ==================== footer
*/

.footer
{
    background-color: whitesmoke;
    margin-top: 20px;
}
.footer h3
{
    display: block;
    border-bottom: 1px solid #090909;
    margin-bottom: 10px;
}

/*margins*/
.margin1 { margin-left: 30px}
.margin2 {}

/*editor*/
.te {border:1px solid #bbb;}
.teheader , .tefooter{display:none;}
.tiny-editor{width: 650px;}