*
{
    outline: none !important;
}

/*
 ==================== content
*/
.content
{
    margin-top: 50px;
}

#search-text{
    width: 560px;
}

/*
 ==================== footer
*/

.footer
{
    background-color: whitesmoke;
    margin-top: 20px;
}
.footer h3
{
    display: block;
    border-bottom: 1px solid #090909;
    margin-bottom: 10px;
}

/*margins*/
.margin1 { margin-left: 30px}
.margin2 {}


/* tabelas */

th
{
    text-align: center;
}

/*editor*/
.editor-container .btn-group+.btn-group{
    margin-left: 1.35%;
}
.editor-container{
    width: 100%;
}
.cke_skin_kama .cke_wrapper{background-color:#d3d3d3;display:block;_display:inline-block;padding:2px;}
html .cke_skin_kama{visibility:inherit;}html.cke_skin_kama_container{visibility:visible;}
.cke_editor tbody > :first-child, .cke_editor tbody > :last-child{display: none;}
.cke_editor{width: 100%;}
.cke_voice_label{display: none}

#uploader{
    margin-top: 15px;
}

#descricao.tab-pane{
    width: 710px;
}

#produtos-descricao.tab-pane{
    width: 685px;
}

#produtos-descricao.tab-pane, #descricao.tab-pane{
    margin-left: 75px;
}

#productTabContent, #contentTabContent{
    min-height: 360px;
    overflow-x: hidden;
}